@use 'tailwind';
@use 'fbw';

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Manrope:wght@200;300;500;600;700;800&display=swap');

.leaflet-popup-close-button {
  display: none;
}

.leaflet-popup-content * {
  margin: 0 !important;
}
.leaflet-popup-content-wrapper {
  background: rgb(23,30,44) !important;
  background: linear-gradient(0deg, rgba(23,30,44,1) 0%, rgba(23,30,44,1) 30%, rgba(23,30,44,0.80) 60%) !important; 
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.7px);
  -webkit-backdrop-filter: blur(10.7px);
  padding: 0 !important;
  min-width: fit-content !important;
}

.leaflet-popup-content {
  margin: 0 !important;
  min-width: 440px !important;
}

.leaflet-popup-tip {
  background-color: #171E2C !important;
  box-shadow: none !important;
}

.full-page-map .leaflet-control-zoom {
  margin-top: 72px !important;
}

.leaflet-container {
  z-index: 999;
  font-family: inherit !important;
}

.make-fbw-primary {
  filter: invert(60%) sepia(51%) saturate(2637%) hue-rotate(144deg) brightness(100%) contrast(101%);
}

.bg-primary {
  background-color: var(--color-brand-cyan-main);

.leaflet-div-icon {
  border: none !important; 
}